.header {
  background-color: rgb(0, 183, 207);
  height: 60px;
  width: 100%;
  border-bottom-style: double;
  a{
    color: #fff;
  }
  .container{
    display: flex;
    .navbar-brand{
      line-height: 70px;
      margin-left: 20px;
      font-size: 30px;
      text-decoration: none;
      font-family: sans-serif;
      font-weight: 600;
      .navbar-logo{
        height: 30px;
        width: 30px;

      }
    }
    .navbar-menu{
      position: absolute;
      right: 20px;
      .navbar-nav{
        display: flex;
        margin: 10px 0 0 0;
        .nav-item{
          margin-left: 30px;
          list-style: none;
          .nav-link{
            text-decoration: none;
            text-align: center;
            i{
              display: block;
              font-size: 25px;
            }
            .nav-text{
              display: block;
              height: 20px;
            }
          }
        }
      }
    }
  }
}