.show-contents{
  display: inline-block;
  width: 100%;
  text-align: center;
  .pagetitle{
    color: #fff;
  }
  .show-body{
    display: inline-block;
    width: 80%;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    .review-image{
      width: 100%;
      overflow: scroll;
      .image{
        height: 500px;
        width: 500px;
        object-fit: cover;
      }
    }
    .review-main{
      width: 100%;
      text-align: left;
    }
    .back{
      display: block;
      text-align: center;
    }
  }
}