.header {
  background-color: #00b7cf;
  height: 100px;
  width: 100%;
  border-bottom-style: double;
  line-height: 100px;
}
.header a {
  color: #fff;
}
.header .container {
  display: flex;
}
.header .container .navbar-brand {
  margin-left: 50px;
  font-size: 40px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}
.header .container .navbar-brand .navbar-logo {
  height: 50px;
  width: 50px;
  margin: 20px 20px 0 0;
}
.header .container .navbar-menu {
  position: absolute;
  right: 50px;
}
.header .container .navbar-menu .navbar-nav {
  display: flex;
}
.header .container .navbar-menu .navbar-nav .nav-item {
  margin-left: 30px;
  list-style: none;
}
.header .container .navbar-menu .navbar-nav .nav-item .nav-link {
  text-decoration: none;
}
