.header {
  background-color: #00b7cf;
  height: 60px;
  width: 100%;
  border-bottom-style: double;
}
.header a {
  color: #fff;
}
.header .container {
  display: flex;
}
.header .container .navbar-brand {
  line-height: 70px;
  margin-left: 20px;
  font-size: 30px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
}
.header .container .navbar-brand .navbar-logo {
  height: 30px;
  width: 30px;
}
.header .container .navbar-menu {
  position: absolute;
  right: 20px;
}
.header .container .navbar-menu .navbar-nav {
  display: flex;
  margin: 10px 0 0 0;
}
.header .container .navbar-menu .navbar-nav .nav-item {
  margin-left: 30px;
  list-style: none;
}
.header .container .navbar-menu .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  text-align: center;
}
.header .container .navbar-menu .navbar-nav .nav-item .nav-link i {
  display: block;
  font-size: 25px;
}
.header .container .navbar-menu .navbar-nav .nav-item .nav-link .nav-text {
  display: block;
  height: 20px;
}
