.top-box {
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%), url("/images/guitar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.top-box .top-message {
  display: inline-block;
  margin: 50px;
  line-height: 50px;
}
.top-box .top-manual .contents {
  display: inline-block;
  width: 300px;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  border: solid 6px;
  border-radius: 10px;
  margin: 5px;
}
.main-contents {
  padding: 20px 50px 20px;
  text-align: center;
}
.main-contents .card-body {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  width: 300px;
  height: 300px;
  background-color: #fff;
}
.main-contents .card-body .image-wrapper {
  height: 150px;
  width: 100%;
  background-color: rgba(168, 168, 168, 0.788);
  border-bottom: solid 1px;
}
.main-contents .card-body .image-wrapper .review-image {
  height: 150px;
  width: 300px;
  object-fit: cover;
}
.main-contents .card-body .review-title {
  width: 280px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  margin-left: 10px;
  font-size: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-contents .card-body .description {
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-contents .card-body .detail-btn {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  border: solid 1px;
  background-color: #575757;
  padding: 5px 0;
}
.main-contents .card-body .detail-btn a {
  font-weight: 100;
  color: #fff;
  text-decoration: none;
}
.main-contents nav {
  width: 100%;
}
.main-contents nav .pagination {
  font-size: 25px;
  color: #000;
  list-style-type: none;
  padding: 0;
}
.main-contents nav .pagination li {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: solid 1px;
  background-color: #fff;
  padding: 5px 0;
}
.main-contents nav .pagination li a {
  color: #6ca8da;
  text-decoration: none;
}
