.top-box {
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%), url("/images/guitar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.top-box .top-message {
  display: inline-block;
  margin: 50px;
  line-height: 50px;
}
.top-box .top-manual .contents {
  display: inline-block;
  width: 300px;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  border: solid 3px;
  border-radius: 10px;
  margin: 5px;
}
