.show-contents {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.show-contents .pagetitle {
  color: #fff;
}
.show-contents .show-body {
  display: inline-block;
  width: 80%;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.show-contents .show-body .review-image {
  width: 100%;
}
.show-contents .show-body .review-image .image {
  height: 500px;
  width: 500px;
  object-fit: cover;
}
.show-contents .show-body .review-main {
  width: 100%;
  text-align: left;
}
.show-contents .show-body .back {
  display: block;
  text-align: center;
}
