.signinPage {
  width: 100%;
  text-align: center;
}
.signinPage .container {
  display: inline-block;
  width: 80%;
  margin: 50px 0;
  background-color: #fff;
}
.signinPage .container .title {
  color: #000;
  font-size: 30px;
}
.signinPage .container .new_user .form-group {
  max-width: 500px;
  margin: 0 auto 1rem;
}
.signinPage .container .new_user .form-group .form-control {
  background: #f6f8fa;
}
.signinPage .container .loginBtn {
  padding: 12px;
  width: 200px;
  border-radius: 21px;
  background: #4fddec;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 20px;
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
}
.signinPage .container .loginBtn:hover {
  opacity: 0.7;
}
