.signinPage {
  height: 94vh;
  padding: 30px 30px;
  background: #fff;
  overflow-x: scroll;
}
.signinPage .title {
  margin: 0;
  text-align: center;
}
.signinPage .new_user .form-group {
  max-width: 500px;
  margin: 0 auto 1rem;
}
.signinPage .new_user .form-group .form-control {
  background: #f6f8fa;
}
.signinPage .loginBtn {
  padding: 12px;
  width: 200px;
  border-radius: 21px;
  background: #4fddec;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 20px;
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
}
.signinPage .loginBtn:hover {
  opacity: 0.7;
}
